body{
    font-family:serif;
    margin: 0;
    padding: 0;

}
.wrapper{
    background: url(ss6.jpg)
    no-repeat center center;
    min-height: 20rem;

}
nav{
    width:90%;
    height: 50%;
    background-color: #0005;
    line-height: 60px;

}
nav ul{
    float: right;
    margin: 0;
    margin-right: 1.9rem;
}
nav ul li{
    list-style-type: none;
    display: inline-block;

}
nav ul li a{
    text-decoration: none;
    color:red;
    padding: 20px;
}
img{
    width:18%;
    margin-left: 1.9rem;
    margin-top: -4%;
}
nav ul li:hover{
    background-color: coral;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}
.section{
    width:80%;
    margin: auto;
    overflow: hidden;
    margin-top: 4%;
}
.section h1{
    color: #fff;
    line-height: 50px;
}
.section p{
    color: gray;
}
.btn-1{
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border:none;
    border-radius: 10px;
}
.features{
    margin-top: 4%;
    margin-bottom:2%;

}
.features button{
    padding: 0.7rem 2rem;
    margin-right:2rem;
    font-size: 1.2rem;
    opacity: 0.7;

}
.showcase h1{
margin-top: 5%;
margin-bottom: 5%;
text-align: center;

}
#courses{
    display: flex;
    text-align: center;
}
#courses img{
    width: 250px;
    border-radius: 10px;
    border: 2px solid black;
}
.apply{
    margin-top: 4%;
    background-color: orangered;
    padding: 0.7rem 1rem;
    color:#fff;
    border: none;
    border-radius: 10px;

}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.2rem;
    margin-top:4%;
}